{% extends 'base.html.twig' %}

{% block title %}Hello LivresController!{% endblock %}


{% block body %}
<a href="{{url('app_livre_add')}}"><button type="button" class="btn btn-info">Ajouter</button></a>

<table class=table>
<tr>
<th>Titre</th>
<th>ISBN</th>
<th>Editeur</th>
<th>prix</th>
<th>Date Edition</th>
<th>Catégories</th>
<th>Action</th>
<th></th>
<th></th>
<th></th>

</tr>
{% for livre in livres %}
<tr>

<td>{{livre.titre | capitalize}}</td>
<td>{{livre.isbn}}</td>
<td>{{livre.editeur}}</td>
<td>{{livre.prix}}</td>
<td>{{livre.dateEdition | date('d/m/Y')}}</td>
<td>{{livre.categorie.libelle}}</td>
<td><a href="{{url('app_livres_details',{'id':livre.id})}}"><button type="button" class="btn btn-link">voir details</button></a></td>
<td><a href="{{url('app_livres_delete',{'id':livre.id})}}"><button type="button" class="btn btn-danger">supprimer</button></a></td>
<td><a href="{{url('app_livres_modify',{'id':livre.id})}}"><button type="button" class="btn btn-primary">Editer</button></a></td>

</tr>
    
{% endfor %}

</table>
{% endblock %}
